<footer class="well">
  <section>
    <div>
      <p>Calm Default is a progressive web app using Angular2. Web apps are a new thing for me so I expect this app to break sometimes.</p>
      <div class="align-right">
        <a href="http://buikema.work" class="btn btn-link">Read my thoughts</a>
      </div>
    </div>
    <div>
      <p>ASMR is a <a href="https://en.wikipedia.org/wiki/Autonomous_sensory_meridian_response">relaxing sensation</a> that some people experience. YouTubers make videos to elicit that sensation. A few of them are <a href="https://www.washingtonpost.com/lifestyle/style/a-whisper-then-tingles-then-87-million-youtube-views-meet-the-star-of-asmr/2014/12/12/0c85d54a-7b33-11e4-b821-503cc7efed9e_story.html">very popular</a>.</p>
    </div>
    <div>
      <p>Feel free to talk to me around the internet.</p>
      <ul>
        <li>GitHub: <a href="https://github.com/buikema">@buikema</a></li>
        <li>YouTube: <a href="https://www.youtube.com/user/drbuik">Drew Buikema</a></li>
        <li>Twitter: <a href="https://twitter.com/drewbuikema">@drewbuikema</a></li>
      </ul>
    </div>
  </section>
  <p class="text-muted text-center">Calm Default is on GitHub, where it is licensed under the MIT license.</p>
</footer>
